{% extends "layout.html"%}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <span class="response">{{reply}}</span>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="firstName" name="firstName" placeholder="First Name" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="surName" name="surName" placeholder="Surname" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="phone" name="tel" placeholder="Phone number" type="tel">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm password" type="password">
        </div>
        <button class="btn btn-primary text-center" type="submit">Register</button>

    </form>
    <a href={{url_for("login")}}>Already have an account? login</a>
{% endblock %}